h1{
    text-align:center;
}

body{
    background: url(https://images.unsplash.com/photo-1598981457915-aea220950616?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHN0dWRlbnQlMjByZWdpc3RyYXRpb24lMjBmb3JtfGVufDB8fDB8fHww);

    color: black;
    background-repeat: no;
}


